#root {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.card {
  padding: 2em;
}
.conversations,
.chat,
.friends {
  height: 100%;
  padding: 0.5rem;
  border: 1px solid white;
  flex-grow: 1;
}
.conversations {
  max-width: 20rem;
}
.friends {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 20rem;
}
.cardImg {
  max-width: 2rem;
  max-height: 2rem;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0;
  gap: 0.5rem;
}
.friendCard,
.userCard,
.chatCard {
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 1px grey;
}
.chatCard img {
  margin: 0 0.5rem;
}
.userCard {
  display: flex;
  justify-content: space-between;
}
.onlineStatus {
  border-radius: 50%;
  min-width: 0.5rem;
  min-height: 0.5rem;
  position: absolute;
  bottom: 30%;
  right: 15%;
}
.userStatus {
  display: flex;
  align-items: center;
}
.statusCard {
  height: fit-content;
  position: relative;
  margin-right: 0.5rem;
}
.logout {
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  justify-self: end;
}
