#root {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.card {
  padding: 2em;
}
.conversations,
.chat,
.friends {
  height: 100%;
  padding: 0.25rem;
  border: 1px solid white;
  flex-grow: 1;
}
.profileImg {
  max-width: 1rem;
  max-height: 1rem;
}
ul {
  list-style: none;
}
